* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-family: "Merriweather", serif;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cp {
  cursor: pointer;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
}
main {
  width: 700px;
  aspect-ratio: 675/340;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em 2em;
}
.product-image {
  width: 50%;
}
.details {
  width: 45%;
} 
.product-image {
  display: flex;
  gap: 0.75rem;
}
.product-image .angles {
  display: flex;
  flex-direction: column;
  width: 16%;
  gap: 0.5em;
}
.angles div {
  box-shadow: 0px 0px 2px 0px lightgrey;
  border-radius: 3px;
  min-height: 60px;
  background: linear-gradient(155deg,#efefef 0% 60%, #b4b4b4 60% 100%);
}
.angles div img {
  border-radius: 5px;
}
.selected {
  border: 2px solid rgb(13, 91, 209);
}
.preview {
  width: 80%;
  box-shadow: 0px 0px 4px 0px lightgrey;
  background: linear-gradient(160deg,#efefef 0% 70%, #b4b4b4 70% 100%);
  border-radius: 5px;
}
.preview img {
  border-radius: 2px;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0px;
}
.brand {
  text-transform: uppercase;
  font-size: 12px;
  color: rgb(26, 118, 254);
  margin-bottom: 0.7rem;
  font-weight: 700;
}
.name {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-size: 26px;
  font-weight: 700;
}
.description {
  font-size: 12px;
  margin-bottom: 1.5rem;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 300;
}
.pricing {
  margin-bottom: 1.25rem;
}
.offer p {
  display: inline-block;
  font-size: 23px;
  font-weight: 600;
  font-style: normal;
}
.offer p:last-child {
  background-color: rgba(26, 118, 254, 0.3);
  color: rgb(26, 118, 254);
  border-radius: 3px;
  font-size: 10px;
  padding: 3px 5px;
  vertical-align: text-bottom;
}
.pricing .original {
  color: #0000009e;
  font-size: 10px;
  text-decoration: line-through;
  text-decoration-color: grey;
}
.sizes {
  font-weight: 600;
}
.sizes h4 {
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 0.75rem;
}
.sizes div {
  display: flex;
  gap: 0.6rem;
}
.sizes div .size {
  min-width: 35px;
  text-align: center;
  font-size: 10px;
  padding: 7px 5px;
  background: rgba(211, 211, 211, 0.315);
}
.checked {
  background-color: black !important;
  color: white;
}
button {
  display: block;
  width: 100%;
  background: rgb(26, 118, 254);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 0em;
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 11px;
}
